.layout {
  display: flex;
  flex-direction: column;

  &Items {
    display: flex;
    margin: 10rem 0;
  }

  &Pages {
    display: flex;
    background-color: var(--pink);
    padding: 3rem;
    width: 60%;
    height: 65vh;
    border-radius: 2rem;
    color: var(--light-background);
  }
}
